* {
    margin: 0;
    padding: 0; 
}

body {
    position: relative;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 15px;
    background-color: rgb(115, 124, 133);
    color: rgb(37, 34, 34);
}

header {
    height: auto;
    width: auto;
    border-bottom: 5px solid black;
    background-color: rgb(115, 124, 133);

}

li {
    display: inline;
    padding: 0px 20px;
    text-decoration: none;
}

section {
    max-width: 100%;
    height: auto;
}
.hero {
    height: 80vh;
    background-image: url("../images/main-pic.JPG");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
}

a:hover, p:hover {
    color: lightblue;
}

a {
    text-decoration: none;
}
div {
    display: flexbox;
    align-items: right;
}


.text-right {
    padding: 10px;
    text-align: right;
    float: bottom;
}
.info-self {
    margin-left: 10px;
    float: left;
    width: 10px;
    height: 100%;
}
.item {
    background-color: rgb(94, 73, 94);
    flex-grow: 1;
    width: 100%;
    border-width: 8px;
    border-style: solid;
}

.container {
    display: flex;
}

.picture-wrap {
    width: 100px;
    height: 100px;
    overflow: hidden;

}

.picture {
    /* object-fit: cover; */
    height: 100%;
}